<div class="container">
<h1>Coach Convo</h1>
<p class="dialogue"><%= @question %></p>
<p> -you</p>
<% if @question.downcase == "i am going to work" %>
<p class="coach qu-response"><%= "Great!" %></p>
<% elsif @question.last == "?" %>
<p class="coach-response"><%= "Sillyestion, get dressed and go to work!" %></p>
<p>- coach</p>
<% else %>
<p class="coach-response"><%= "I don't care, get dressed and go to work!" %></p>
<% end %>

<h3 class="button" ><%= link_to "Ask another question", ask_path %></h3>
</div>
